@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogs {
  @include flex;
  flex-direction: column;
  padding: 3rem 0;
}

.container {
  @include flex;
  flex-direction: column;
  width: min(90%, 80rem);
}

.blogs_container {
  @include flex;
  flex-direction: column;
  padding: 3rem 0;
}

.blog {
  @include flex;
  flex-direction: column;
  max-height: 400px;
  max-width: 400px;
  transition: all 0.3s;
  margin-top: 3rem;
  border-radius: 10px;
  &:hover {
    box-shadow: 5px 5px 20px 8px rgb(0, 0, 0, 0.2);
  }
  img {
    object-fit: cover;
  }
}

.blog_title {
  font-size: 1.2rem;
  color: white;
  margin-top: 1rem;
  padding: 0 10px;
  text-transform: capitalize;
}

@media (min-width: 688px) {
  .blogs_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
  }

  .blog {
    margin: 1rem;
    img {
      height: 200px;
    }
  }
}

@media (min-width: 1024px) {
  .blogs_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}