@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta,
.container {
  @include flex;
  color: white;
  flex-direction: column;
}

.cta {
  padding: 5rem 0;
}

.container {
  background: linear-gradient(120deg, #8812ac, #0c0132);
  width: min(90%, 80rem);
  padding: 3rem 2rem;
  border-radius: 20px;
  box-shadow: 3px 3px 30px 10px rgb(0, 0, 0, 0.2);
}

.cta_content_container {
  margin-bottom: 5rem;
}

.cta_heading {
  margin-top: 20px;
  font-size: 2em;
  text-transform: capitalize;
}

.browse_nft_btn {
  display: inline-block;
  font-size: 0.8em;
  background: #1f44e6;
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 1rem;
  transition: all 0.3s;
  &:hover {
    background: white;
    color: black;
  }
}

@media (min-width: 688px) {
  .container {
    flex-direction: row;
    align-items: center;
    * {
      flex-basis: 100%;
    }
  }

  .cta_content_container {
    margin-bottom: 0;
  }
}
