@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  
}

.container {
 background: rgba(255,255,255,0.31);
  backdrop-filter: blur(50px);
  @include flex;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1rem 0;
  z-index: 100;
}

.container {
  @include flex;
  width: min(90%, 80rem);
  justify-content: space-between;
}

.icon {
  color: white;
  height: 1rem;
  position: relative;
  z-index: 100;
  transition: all 0.3s ;
}

#rotate {
  color: red;
  transform: rotateY(40deg);
}