.heading {
  width: 100%;
  padding: 0 rem;
}

.title {
  color: white;
  font-size: 1.5rem;
  text-align: left;
  text-transform: capitalize;
}

.subtitle {
  color: white;
  margin-top: -1rem;
  text-align: left;
  color: #c2c2c2;
}
