@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  @include flex;
  // align-items: flex-start;
  flex-direction: column;
  margin-top: 5vh;
  height: 100%;
  top: 1vh;
  transition: all 0.3s;
}

.menu_item {
  width: 100%;
  font-size: large;
  color: white;
  text-align: center;
  padding: 0.6rem;
  padding-left: 1rem;
  transition: all 0.3s;
  &:hover {
    background: rgba(0, 0, 0, 0.22);
    color: gold;
    box-shadow: 3px 1px 30px 1px rgba(67, 2, 220, 0.5);
  }
}

#contact {
  margin-top: 3rem;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 20px;
  width: auto;
  color: black;
  font-weight: bolder;
  &:hover {
    box-shadow: 3px 10px 50px 1px rgba(67, 2, 220);
  }
}
