@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  @include flex;
  flex-direction: column;
  transition: all 0.3s;
  padding: 20px;
  margin-top: 100px;
}

.menu_item {
  width: 100%;
  font-size: large;
  color: white;
  text-align: left;
  padding: 0.6rem;
  padding-left: 1rem;
  transition: all 0.3s;
  background: rgba(128, 128, 128, 0.248);
  border-bottom: 1px solid gray;
  &:hover {
    background: rgba(0, 0, 0, 0.22);
    color: gold;
    box-shadow: 3px 1px 30px 1px rgba(67, 2, 220, 0.5);
    margin-left: 20px;
  }
}

#contact {
  margin-top: 3rem;
  position: absolute;
  bottom: 5rem;
  left: 1rem;
  background-color: aqua;
  padding: 10px 20px;
  border-radius: 20px;
  width: auto;
  color: black;
  font-weight: bolder;
  &:hover {
    box-shadow: 3px 10px 50px 1px rgba(67, 2, 220);
  }
}
